:root {
    --base-font-s: normal 14px "Manrope-Regular", sans-serif;
    --base-font-m: normal 28px "Manrope-Regular", sans-serif;
    --base-font-l: bolder 48px "Manrope-ExtraBold", sans-serif;
    
    
    --main-text-color: #18191F;
    --main-bgcolor: #FFFFFF;
    
    
    --text-button: #FFFFFF;
    --bgcolor-button: #8C30F5;
    --border-radius: 24px;
    --font-button: bolder 14px "Manrope-ExtraBold", sans-serif;
    
    
    --base-size-s: 8px;
    --base-size-m: 16px;
    --base-size-l: 24px;
    
}

body {
    background-color: var(--main-bgcolor);
    color: var(--main-text-color);
    font: var(--base-font-s);
}

h1, h2, h3, p {
    margin: 0;
}

button {
    padding: 0;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.selected-title {
    padding: calc(var(--base-size-l) * 3 + 8px) 0 calc(var(--base-size-l) * 2) 0;
    font: var(--base-font-l);
}

.selected-blocks {
    display: inline-block;
    width: 500px;
    margin-bottom: calc(var(--base-size-l) * 3 + 8px);
    transition: 0.5s;
}

.selected-blocks:hover {
    transform: scale(1.1);
}

.selected-blocks__item {
    position: relative;
}

.selected-blocks__item span {
    font: var(--font-button);
    text-transform: uppercase;
}

.selected-blocks__title {
    font: var(--base-font-m);
    margin-bottom: var(--base-size-l);
}

.selected-blocks:nth-child(even) {
    margin-right: 110px;
}

.selected-blocks:nth-child(odd) {
    margin-right: -4px;
}

.selected-blocks__item div {
    padding: var(--base-size-l) 0;
    border-bottom: 1px solid #F4F5F7;
}

.selected-blocks__img {
    display: block;
    border-radius: calc(var(--border-radius) / 4);
}

button {
    font: var(--font-button);
    padding: var(--base-size-s) var(--base-size-m);
    border-radius: calc(var(--border-radius) * 4);
    background-color: var(--bgcolor-button);
    color: var(--text-button);
    cursor: pointer;
    outline: none;
    border: 0;   
}

button:hover {
    background-color: #8C20D5;
}

span {
    display: inline-block;
    width: calc(100% - 117px);
}

@media (min-width: 1440px) and (max-width: 1920px) {
     
}

@media (min-width: 1024px) and (max-width: 1440px) {
    
}

@media (min-width: 768px) and (max-width: 1024px) {
    
}

@media (min-width: 425px) and (max-width: 768px) {
    
}

@media (min-width: 375px) and (max-width: 425px) {
    
}

@media (min-width: 320px) and (max-width: 375px) {
    
    
}